@import '../../themes/os.globals.scss';

:host {
  position: absolute;
  display: block;
  touch-action: none;
  box-sizing: border-box;
  width: 800px;
  height: 600px;
  z-index: 1;
  background-color: #{$background-color};
  color: #{$text-color};
  left: 100px;
  top: 30px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  @include border-radius(5px);

  .os-window-header {
    height: 30px;
    border-bottom: 1px solid var(--border-color);
  }

  .os-window-content {
    height: calc(100% - 31px);
  }
}
