@import '../../themes/os.globals.scss';

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #{$background-color};
  color: #{$text-color};

  .os-desktop-container {
    height: 100%;
    overflow: hidden;
  }

  .os-desktop-content {
    position: relative;
    height: calc(100% - 32px);
    overflow: hidden;
  }

  .os-desktop-task {
    height: 31px;
    overflow: hidden;
    border-top: 1px solid var(--border-color);
  }
}
